.Pendaftaran {
  margin: auto;
  margin-top: 60px;
  width: 60%;

  @media (max-width: 40rem) {
    width: 100%;
  }

  .Title {
    color: var(--color-primary);
    border-bottom: 1px solid #ccc;
  }

  .Detail_Title,
  .Detail_Wali {
    padding: 8px;

    @media (min-width: 40rem) {
      grid-column: span 2;
    }
  }

  .Detail_Title {
    margin-top: 15px;
    color: var(--color-third);
    font-weight: 600;
  }
  
  .Detail_Wali {
    color: var(--color-primary);
    font-weight: 500;
  }
}

.Form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 40rem) {
    grid-template-columns: repeat(1, 1fr);
  }

  :nth-last-child(2) {
    @media (min-width: 40rem) {
      grid-column: span 2;
    }
  }
}