.NavigationItem {
  margin: 0 10px;

  a {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover,
    &:active,
    &.active {
      color: var(--color-secondary);
    }

    &.active {
      pointer-events: none;
    }
  }
}