.Img-Container {
  width: 100%;
  height: 300px;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    .Images {
      filter: brightness(0.5);
      transform: scale(1.1);
    }
  }
}

.Images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in;
}
