.Copyright_Container {
  background: #222;
  margin: auto;
  padding: 15px;
}

.Copyright {
  max-width: 1260px;
  width: 80%;
  margin: auto;
  padding: 0 10px;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 40rem) {
    text-align: center;
    width: 100%;
    flex-direction: column;
  }

  svg {
    vertical-align: middle;
    fill: white;
    margin: 0 3px;

    @media (max-width: 40rem) {
      margin: 10px 3px;
    }
  }
}
