@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --color-layout: #F0F0F0;
  --color-primary: #063346;
  --color-secondary: #F16F7C;
  --color-third: #7AAA9E;
  --color-muted: #848484;
  --color-logo: #5EA4DC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
